{% extends 'header.html' %} 
{# Esto significa que todo el contenido definido en 'header.html' (como la cabecera, navegación, etc.) #}
{# será incluido automáticamente aquí, y nosotros solo añadiremos el contenido específico de esta página. #}
{% block content %} 

<div class="login-form" style="text-align: center;">
    <form action="" method="POST" style="display: inline-block;">
        {% csrf_token %}
        <h2 class="text-center">Inicio de sesión</h2> {# Crea un encabezado de nivel 2 (<h2>) con el texto "Inicio de sesión". #}
        <div class="form-group" style="margin-bottom: 5%;">
            <input type="text" name="username" id="username" class="form-control" placeholder="Usuario" required="required">
            {# Crea un campo de entrada de texto (<input>) para el nombre de usuario.#}
        </div>
        <div class="form-group" style="margin-bottom: 5%;">
            <input type="password" name="password" id="password" class="form-control" placeholder="Contraseña" required="required">
            {# Crea un campo de entrada de texto (<input>) para la contraseña.#}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
            {# Crea un botón (<button>) para enviar el formulario.#}
        </div>
        <div class="mt-3"> 
            <small>¿No tienes cuenta? <a href="{% url 'register' %}">Regístrate aquí</a></small>
        </div>
    </form>
</div>
{% endblock %}